@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components{
    .btn {
        @apply border-2 border-gray-300 rounded-md p-4 w-full focus:outline-orange-400;
    }
}